@model List<Product>


<div class="card shadow border- my-4">
    <div class="card-header bg-secondary bg-gradient py-3">
        <div class="text-center">
            <h3>Product List</h3>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6"></div>
            <div class="col-6 text-end">
                <a class="btn btn-primary" asp-controller="Product" asp-action="Upsert">
                    <i class="bi bi-calendar-plus"></i> Add Product
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="p-2">Name</th>
                    <th class="p-2">ISBN</th>
                    <th class="p-2">Price</th>
                    <th class="p-2">Author</th>
                    <th class="p-2">Category</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="p-0-child">
                        <td class="p-2">@item.Title</td>
                        <td class="p-2">@item.ISBN</td>
                        <td class="p-2">@item.Price</td>
                        <td class="p-2">@item.Author</td>
                        <td class="p-2">@item.Category.Name</td>
                        <td class="p-2">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Product" asp-route-id="@item.Id" asp-action="Upsert" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i>Edit
                                </a>
                                <a asp-controller="Product" asp-route-id="@item.Id" asp-action="Delete" class="btn btn-delete btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i>Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>





        </table>
    </div>
</div>
